.Player {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    display: flex;
}

.Player__name {
    border: 2px solid black;
    padding: 10px;
    text-transform: uppercase;
    width: 40%;
}
.Player__score {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 20%;
}
.Player__button {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 10%;
    cursor: pointer;
}
.Player__remove {
    width: 20%;
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
    border: 2px solid black;
    cursor: pointer;
}